body {
  background-color: var(--body);
  font-family: var(--font);
  font-weight: 400;
}

button {
  align-items: center;
  border-radius: 4px;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  font-family: var(--font-title);
  gap: 5px;
  justify-content: center;
  line-height: 20px;
  padding: 10px 16px;
  text-transform: uppercase;
  text-wrap: nowrap;
  width: 100%;
}

.btn-green {
  background-color: var(--btn-green);
}
.btn-green:hover {
  background-color: var(--btn-green-hover);
}
.btn-blue {
  background-color: var(--btn-blue);
}
.btn-blue:hover {
  background-color: var(--btn-blue-hover);
}

.base-container {
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 12px;
}

.hr {
  background-color: var(--hr);
  height: 1px;
}

.section {
  background-color: var(--base);
  box-shadow: var(--shadow);
}

small {
  font-size: 14px;
  line-height: 18px;
}

.svg {
  height: 16px;
}

a {
  color: var(--anchor);
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.red {
  color: #fb866a;
  fill: #fb866a;
}

.font-title {
  font-family: var(--font-title);
  font-weight: 700;
}

.social-icon {
  align-items: center;
  border-radius: 99px;
  background-color: var(--icon-social);
  color: var(--icon-social-text);
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 36px;
  transition: 0.3s ease;
  user-select: none;
  width: 36px;
}

/* Toggle */
.togglebtn {
  align-items: center;
  border-radius: 99px;
  background-color: var(--toggle-btn);
  cursor: pointer;
  display: flex;
  height: 24px;
  overflow: hidden;
  width: 44px;
}
.togglebtn .bubble {
  background-color: #fff;
  border-radius: 99px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.2);
  height: 16px;
  margin-left: 4px;
  transition: margin-left 0.3s ease;
  width: 16px;
}
.bubble.move {
  margin-left: 23px;
}
