@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --body: #dae3e7;
  --base: #ffffff;
  --header: #f5f5f5;
  --footer: #32383e;

  /* Text */
  --text: #434343;
  --title: #5f6b77;
  --subtitle: #778492;
  --heading: #545e69;
  --anchor: #54ba4e;

  /* Button */
  --btn-green: #54ba4e;
  --btn-green-hover: #49ac43;
  --btn-blue: #479fc8;
  --btn-blue-hover: #3893bd;

  /* Icon */
  --icon: #ccd1d6;
  --icon-social: #b0b7bf;
  --icon-social-text: #fff;

  --bar-empty: #e8e8e8;
  --bar-filled: #66cb8c;
  --hr: #d0d0d0;
  --toggle-btn: #e4e6e6;

  /* Common */
  --font: 'Lato', sans-serif;
  --font-title: 'Montserrat', sans-serif;
  --shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.075);
}

.dark {
  --body: #17191c;
  --base: #1e2124;
  --header: #1e2124;
  --footer: #32383e;

  /* Text */
  --text: rgba(255, 255, 255, 0.7);
  --title: rgba(255, 255, 255, 0.9);
  --subtitle: rgba(255, 255, 255, 0.7);
  --heading: rgba(255, 255, 255, 0.9);
  --anchor: #54ba4e;

  /* Button */
  --btn-green: #54ba4e;
  --btn-green-hover: #49ac43;
  --btn-blue: #479fc8;
  --btn-blue-hover: #3893bd;

  /* Icon */
  --icon: #ccd1d6;
  --icon-social: #2e3238;
  --icon-social-text: rgba(255, 255, 255, 0.7);

  --bar-empty: #e8e8e8;
  --bar-filled: #66cb8c;
  --hr: #45484a;
  --toggle-btn: #32383e;
}
